* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
    padding: 2rem;
}

section {
    display: flex;
    gap: 30px;
}

.horizontalContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card {
    background-color: white;
    border-radius: 3px;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 30px;
    align-items: center;
}

i {
    font-size: 3rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1.5rem;
    color: gray;
}

.avatar {
    border: 5px solid white;
    border-radius: 100%;
    width: 100%;
    max-width: 100px;
    background-color: green;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    aspect-ratio: 1/1;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}