* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin: 5px;
}

li {
    background-color: white;
    color: orange;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}