h1 {
    color: blue;
}

p {
    font-size: 18px;
}

.highlight {
    background-color: skyblue;
}

#main-title {
    color: darkblue;
}

#special-paragraph {
    font-style: italic;
}

ul {
    list-style-type: circle;
}

ul li {
    color: cornflowerblue;
}

div {
    background-color: burlywood;
}