* {
    margin: 0;
    padding: 0;
}

div {
    border: 2px solid green;
    padding: 40px 200px;
}

section {
    border: 2px solid blue;
}

header,
main,
footer {
    border: 2px solid black;
    text-align: center;
    margin: 40px;
    padding: 30px;
    font-weight: bold;
    font-family: sans-serif;
}