* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 2px solid green;
    padding: 2rem;
}

h2 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.section {
    border: 2px solid blue;
    padding: 1rem 0;
    margin: 2rem 0;
}

@media(min-width:1200px) {
    .section {
        padding: 1rem calc(50vw - 480px);
    }
}