* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 3rem;
    align-self: center;
}

.table-card {
    border: 2px solid #ddd;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
}

.table tr {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.table .long {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h2 {
    padding: 1rem;
}

.table {
    display: flex;
    gap: 2rem;
    border-top: 2px solid #333;
}

.table th,
.table td {
    padding: 0.5rem;
}

.table td {
    color: gray;
}

.bigTable {
    display: none;
}

@media(min-width:600px) {
    .long {
        width: 180px;
    }
}

@media(min-width:800px) {
    .table {
        display: none;
    }

    .bigTable {
        display: table;
        width: 100%;
        border-collapse: collapse;
    }

    .bigTable th,
    .bigTable td {
        padding: 0.5rem;
        text-align: left;
        border-bottom: 1px solid #ccc;
    }

    .bigTable thead {
        background-color: #eee;
        border-top: 1px solid #ccc;
    }

    .bigTable tr:last-child td {
        border-bottom: none;
    }
}